{% extends "base.html" %}

{% block nav %}
    <li class="active"><a href="/books/book_list/">图书管理</a></li>
    <li><a href="#">出版社管理</a></li>
    <li><a href="#">作者管理</a></li>
{% endblock nav %}

{% block content %}

    <h2 class="sub-header text-center">修改书籍信息</h2>

    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">书名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}">
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">价格</label>
            <div class="col-sm-9">
                <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{ book.price }}">
            </div>
        </div>
        <div class="form-group">
            <label for="pub_date" class="col-sm-2 control-label">出版时间</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="pub_date" name="pub_date" value="{{ book.pub_date|date:'Y-m-d' }}">
            </div>
        </div>
        <div class="form-group">
            <label for="authors" class="col-sm-2 control-label">作者</label>
            <div class="col-sm-9">
                <select multiple class="form-control" name="authors" id="authors">
                    {% for author in author_list %}
                        {% if author in book.authors.all %}
                            <option selected value="{{ author.id }}">{{ author.name }}</option>
                        {% else %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="publisher" class="col-sm-2 control-label">出版社</label>
            <div class="col-sm-9">
                <select class="form-control" name="publisher" id="publisher">
                    {% for publisher in publisher_list %}
                        {% if book.publisher_id == publisher.id %}
                            <option selected value="{{ publisher.id }}">{{ publisher.name }}</option>
                        {% else %}
                            <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">保存</button>
                <a href="/books/book_list/">
                    <button type="button" class="btn btn-default">取消</button>
                </a>
            </div>
        </div>
    </form>
{% endblock content %}
