{% extends "base.html" %}

{% block nav %}
    <li class="active"><a href="/books/book_list/">图书管理</a></li>
    <li><a href="#">出版社管理</a></li>
    <li><a href="#">作者管理</a></li>
{% endblock nav %}

{% block content %}

    <h2 class="sub-header text-center">书籍列表</h2>
    <div class="table-responsive">
        <a href="/books/add_book/">
            <button class="btn btn-success" style="margin-bottom: 10px">新增书籍</button>
        </a>
        <button id="add" class="btn btn-success" style="margin-bottom: 10px">批量添加测试数据</button>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>编号</th>
                <th>书名</th>
                <th>价格</th>
                <th>出版时间</th>
                <th>作者</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for books in book_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ books.title }}</td>
                    <td>{{ books.price }}</td>
                    <td>{{ books.pub_date|date:'Y-m-d' }}</td>
                    <td>
                        <!-- 通过对象的跨表查询，把所有的作者找出来 -->
                        {% for author in books.authors.all %}
                            {% if forloop.last %}
                                {{ author.name }}
                            {% else %}
                                {{ author.name }},
                            {% endif %}
                        {% endfor %}

                    </td>
                    <td>{{ books.publisher }}</td>
                    <td>
                        <a href="/books/edit_book/?pk={{ books.id }}">
                            <button type="button" class="btn btn-info edit">编辑</button>
                        </a>
                        <button type="button" class="btn btn-danger del" bid="{{ books.id }}">删除</button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    {{ paginator.page_html|safe }}

{% endblock content %}

{% block js %}
    <script>
        $('#add').click(function () {
            var res = confirm('批量添加测试数据？');
            if (res){
                $.ajax({
                    url: '/add_ceshi/',
                    type: 'get',
                    success: function (res) {
                        location.href = '/books/book_list/'
                    }
                })
            }
        });

        $('table').on('click', '.del', function () {
            var bid = $(this).attr('bid');
            var $currentTr = $(this).parent().parent();
            var is_del = confirm('确定删除吗？');
            if (is_del) {
                $currentTr.html('<td colspan="7" class="text-left text-danger">删除中...</td>');
                // ajax删除操作
                $.ajax({
                    url: '/books/del_book/',
                    type: 'post',
                    data: {
                        'pk': bid,
                        'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function (res) {
                        if (res.status) {
                            // 删除成功后的操作
                            // 把当前行替换成想要显示的内容
                            $currentTr.html('<td colspan="7" class="text-left text-danger">' + res.msg + '</td>')
                            // $currentTr.remove()  // 删除当前行
                        }else {
                            // 删除失败后的操作
                            alert(res.msg)
                        }
                    }
                })
            }
        })
    </script>
{% endblock js %}